In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [1]:
s = 'Movie review sentiment analysis'

In [3]:
s_lower = s.lower()

In [4]:
s

'Movie review sentiment analysis'

In [5]:
s_lower

'movie review sentiment analysis'

In [6]:
frames = {'review':['Very Good movie', 'DISGUSTING ever', 'Not the expected one','awesome'], 'sentiment':['positive','negative','negative','positive']}

In [11]:
df = pd.DataFrame(frames)

In [12]:
df

                 review sentiment
0       Very Good movie  positive
1       DISGUSTING ever  negative
2  Not the expected one  negative
3               awesome  positive

In [15]:
df.iloc[0:,0]

0         Very Good movie
1         DISGUSTING ever
2    Not the expected one
3                 awesome
Name: review, dtype: object

In [20]:
df['review'].values

array(['Very Good movie', 'DISGUSTING ever', 'Not the expected one',
       'awesome'], dtype=object)

In [21]:
l = df['review'].values

In [22]:
l

array(['Very Good movie', 'DISGUSTING ever', 'Not the expected one',
       'awesome'], dtype=object)

In [24]:
# for i in l:
#     print(l)

In [25]:
type(l)

numpy.ndarray

In [26]:
l = list(l)

In [28]:
result = []

In [29]:
for i in l:
    print(i)
    result.append(i.lower())

Very Good movie
DISGUSTING ever
Not the expected one
awesome

In [30]:
result

['very good movie', 'disgusting ever', 'not the expected one', 'awesome']

In [31]:
df['lower_review'] = result

In [33]:
df

                 review sentiment          lower_review
0       Very Good movie  positive       very good movie
1       DISGUSTING ever  negative       disgusting ever
2  Not the expected one  negative  not the expected one
3               awesome  positive               awesome

In [37]:
# str(df['review']).lower()

In [38]:
df['review'].str.lower()

0         very good movie
1         disgusting ever
2    not the expected one
3                 awesome
Name: review, dtype: object

In [40]:
type(df['review'].str.lower())

pandas.core.series.Series

In [41]:
df['lower_review'] = df['review'].str.lower()

In [42]:
df

                 review sentiment          lower_review
0       Very Good movie  positive       very good movie
1       DISGUSTING ever  negative       disgusting ever
2  Not the expected one  negative  not the expected one
3               awesome  positive               awesome